<div class="map-content" *ngIf="userCoords.latitude && userCoords.longitude">

    <ion-button *ngIf="!isEditArea && !singleAlertEnabled" (click)="createSingleAlert()"
                style="position: absolute; z-index: 100; left: 10px">Send Alert
    </ion-button>
    <ion-button color='danger' *ngIf="!isEditArea && singleAlertEnabled" (click)="deleteSingleAlert()"
                style="position: absolute; z-index: 100; left: 10px">Stop Alert
    </ion-button>
    <ion-button *ngIf="!isEditArea" (click)="editAreaAlert()" style="position: absolute; z-index: 100; right: 10px">Area
        Alert
    </ion-button>

    <agm-map [latitude]="userCoords.latitude" [longitude]="userCoords.longitude" [zoom]="15"
             (centerChange)="onCenterChange($event)"  [streetViewControl]="false">

        <!--        <agm-marker [latitude]="userCoords.latitude" [longitude]="userCoords.longitude"></agm-marker>-->

        <agm-marker *ngFor="let alert of singleAlerts" [latitude]="alert.coords.geopoint._lat"
                    [longitude]="alert.coords.geopoint._long">
            <agm-info-window>
                <h3><strong>{{alert.gender}}, {{alert.age}} years</strong></h3>
                <p>{{alert.timestamp?.toDate() | date: 'MMM d, y, h:mm:ss a'}}</p>
            </agm-info-window>
        </agm-marker>

        <agm-circle *ngFor="let alert of areaAlerts" [latitude]="alert.coords.geopoint._lat"
                    [longitude]="alert.coords.geopoint._long" [radius]="alert.radius"
                    [fillColor]="getHazardColor(alert.hazard)">
        </agm-circle>

        <agm-circle *ngIf="isEditArea" [latitude]="mapPosition.latitude" [longitude]="mapPosition.longitude"
                    [radius]="selectedAreaRadius" [fillColor]="getHazardColor(selectedHazard)">
        </agm-circle>
    </agm-map>

    <!-- EDITING AREA ALERT -->
    <ion-toolbar *ngIf="isEditArea" class="select-area-size">
        <ion-segment (ionChange)="onChangeArea($event)" mode="ios">
            <ion-segment-button value="100" checked>
                <ion-label>Small</ion-label>
            </ion-segment-button>
            <ion-segment-button value="500">
                <ion-label>Medium</ion-label>
            </ion-segment-button>
            <ion-segment-button value="1000">
                <ion-label>Large</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <ion-list *ngIf="isEditArea" class="select-area-hazard">
        <ion-radio-group (ionChange)="onChangeHazard($event)">
            <ion-list-header>
                <ion-label>Hazard Type</ion-label>
            </ion-list-header>

            <ion-item>
                <ion-label>Generic</ion-label>
                <ion-radio slot="start" value="GENERIC" checked></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Fire</ion-label>
                <ion-radio slot="start" value="FIRE"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Flood</ion-label>
                <ion-radio slot="start" value="FLOOD"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Earthquake</ion-label>
                <ion-radio slot="start" value="EARTHQUAKE"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Biological</ion-label>
                <ion-radio slot="start" value="BIO"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>
    <ion-button *ngIf="isEditArea" (click)="sendAreaAlert()" class="btn-send-area" color="danger">
        <ion-icon name="alert"></ion-icon>
        <ion-label> Send Area Alert</ion-label>
    </ion-button>
    <ion-button *ngIf="isEditArea" (click)="cancelAreaAlert()" class="btn-cancel-area" fill="clear" color="dark">
        <ion-icon name="close"></ion-icon>
    </ion-button>
</div>
