<div *ngIf="userCoords.latitude && userCoords.longitude">

    <agm-map [latitude]="userCoords.latitude" [longitude]="userCoords.longitude" [zoom]="15"
             (centerChange)="onCenterChange($event)">

        <!--        <agm-marker [latitude]="userCoords.latitude" [longitude]="userCoords.longitude"></agm-marker>-->

        <agm-marker *ngFor="let alert of singleAlerts" [latitude]="alert.coords.geopoint._lat"
                    [longitude]="alert.coords.geopoint._long">
            <agm-info-window>
                <h3><strong>{{alert.type}}</strong></h3>
                <p>{{alert.id}}</p>
            </agm-info-window>
        </agm-marker>

        <agm-circle *ngFor="let alert of areaAlerts" [latitude]="alert.coords.geopoint._lat"
                    [longitude]="alert.coords.geopoint._long" [radius]="alert.radius"
                    fillColor="#B22222">
        </agm-circle>

        <agm-circle *ngIf="isEditArea" [latitude]="mapPosition.latitude" [longitude]="mapPosition.longitude"
                    [radius]="selectedAreaRadius" fillColor="#B22222" strokeColor="#808080">
        </agm-circle>
    </agm-map>

    <ion-list *ngIf="isEditArea" style="position: absolute; z-index: 100">
        <ion-radio-group (ionChange)="onChangeArea($event)">
            <ion-list-header>
                <ion-label>Alert Size</ion-label>
            </ion-list-header>

            <ion-item>
                <ion-label>Large</ion-label>
                <ion-radio slot="start" value="1000" checked></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Medium</ion-label>
                <ion-radio slot="start" value="500"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Small</ion-label>
                <ion-radio slot="start" value="100"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>
    <ion-button *ngIf="isEditArea" (click)="sendAreaAlert()" style="position: absolute; z-index: 100; bottom: 10px">Send Area Alert</ion-button>
</div>
