<ion-content padding>
    <ion-img style="max-height: 300px;max-width: 600px; height:100%; width:100%;display: block; margin-left: auto; margin-right: auto;"
        src="../../assets/logo_transparent.png"></ion-img>
    <form [formGroup]="loginForm">
        <ion-item *ngIf="signupEnabled">
            <ion-label position="floating">Your Name</ion-label>
            <ion-input type="text" formControlName="name" minlength="5" maxlength="80"></ion-input>
        </ion-item>
        <ion-item *ngIf="signupEnabled">
            <ion-label position="floating">Year of birth</ion-label>
            <ion-datetime formControlName="birth" displayFormat="YYYY" pickerFormat="YYYY"></ion-datetime>
        </ion-item>
        <ion-item *ngIf="signupEnabled">
            <ion-label position="floating">Gender</ion-label>
            <ion-select placeholder="Select One" formControlName="gender">
                <ion-select-option value="female">Female</ion-select-option>
                <ion-select-option value="male">Male</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Your Email</ion-label>
            <ion-input type="text" formControlName="username" minlength="10" maxlength="100"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password" minlength="8" maxlength="60"></ion-input>
        </ion-item>
        <ion-button [disabled]="loading || loginForm.invalid" expand="block" (click)="onSubmit()">
            <img style="margin-right:10px;" *ngIf="loading"
                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <ion-icon *ngIf="!loading" name="log-in"></ion-icon> {{submitButtonLabel}}
        </ion-button>
    </form>
    <ion-button [disabled]="loading" fill="clear" expand="block" (click)="swapSignup()">
        {{clearButtonLabel}}
    </ion-button>
    <ion-img style="max-height: 300px;max-width: 600px; height:100%; width:100%; display: block; margin-left: auto; margin-right: auto;"
        src="../../assets/logo_nasa.png"></ion-img>
</ion-content>