<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Map
        </ion-title>
        <button (click)="clickAlert()">push alert testing</button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button *ngIf="!isEditArea" (click)="clickAlert()" style="position: absolute; z-index: 100; left: 10px">Send Alert</ion-button>
    <ion-button *ngIf="!isEditArea" (click)="editAreaAlert()" style="position: absolute; z-index: 100; right: 10px">Area Alert</ion-button>
    <app-map (refreshCoords)="updateCoords($event)" [isEditArea]="isEditArea"></app-map>
</ion-content>
